:markdown

  ## Requirements

  * Technical background or clear understanding of developer products.
  * 3-5 years of experience in product marketing, preferably with experience in marketing to enterprise companies.
  * Able to coordinate across many teams and perform in fast-moving startup environment.
  * Excellent spoken and written English
  * You share our [values](/handbook/values), and work in accordance with those values.
